flows.json
[{"id":"897f1e75.20a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e669321.1379a5","type":"ui_tab","z":"","name":"Customer Smart Helpdesk","icon":"dashboard","disabled":false,"hidden":false},{"id":"7a2049d1.fd8338","type":"ui_group","z":"","name":"Chatbot","tab":"e669321.1379a5","order":1,"disp":true,"width":12,"collapse":false},{"id":"7f26c563.a9fe84","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":36,"sy":36,"gx":18,"gy":18,"cx":30,"cy":30,"px":16,"py":16}}},{"id":"b98862d7.67f0e8","type":"ui_form","z":"897f1e75.20a98","name":"","label":"","group":"7a2049d1.fd8338","order":1,"width":0,"height":0,"options":[{"label":"Type your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["f4896d7a.3bf22"]]},{"id":"f4896d7a.3bf22","type":"function","z":"897f1e75.20a98","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["252e9e6e.2c2102","44ef9f45.0e8c"]]},{"id":"81c3b530.e2a44","type":"function","z":"897f1e75.20a98","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["6785b7a.6031048"]]},{"id":"252e9e6e.2c2102","type":"watson-conversation-v1","z":"897f1e75.20a98","name":"Smart Customer Care","workspaceid":"38df3afa-20ee-4ac1-a1a4-31f18b764333","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fe7bf1c7-9c47-4de7-b3b9-11d1d2e1eef7","timeout":"","optout-learning":false,"x":480,"y":80,"wires":[["f09a8e3a.d978e","81c3b530.e2a44"]]},{"id":"44ef9f45.0e8c","type":"ui_text","z":"897f1e75.20a98","group":"7a2049d1.fd8338","order":2,"width":0,"height":0,"name":"","label":"User","format":"{{msg.payload}}","layout":"row-left","x":410,"y":260,"wires":[]},{"id":"f09a8e3a.d978e","type":"debug","z":"897f1e75.20a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"6785b7a.6031048","type":"ui_text","z":"897f1e75.20a98","group":"7a2049d1.fd8338","order":3,"width":12,"height":4,"name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":720,"y":260,"wires":[]}]